<h1>画像をアップロードテスト</h1>
<p>Welcome to 画像をアップロードテスト</p>
<form action="/upload" method="post" encType="multipart/form-data">
  <div>
    <input type="file" name="uploadFile" />
  </div>
  <div>
    <input type='submit' value='Upload' />
  </div>
</form>
<hr>
<a href="/">トップページの戻る</a>
